.hide{display:none}
.show{display:inline}
.centerDiv{display:flex;justify-content:center}
.progressBarContainer{height:3px;position:fixed;top:0;margin:0;width:100%;z-index:9999;overflow: hidden;}
.profileImageContainer{position:relative;width:50px;height:50px;overflow:hidden;margin-top:3px;box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}
.profile-img{position:absolute;height:100%}
.media-img,.profile-img{cursor:pointer}
.mainImage{width:100%;display:inline-block;cursor:pointer;position:absolute;max-width:600px}
.mainNoImage,.progressSpinner{width:100%;text-align:center}
.mainNoImage{height:150px;display:inline-block;line-height:150px;vertical-align:middle;margin-bottom:3px;}
.mainNoImage>div{top:135px}
.mainNoImage:hover{text-decoration: underline;}
.mainImageContainer{position:relative;width:100%;height:150px;overflow:hidden;max-width:600px}
.mainImageContainer>div{top:135px}
.imageCount{left:1px}
.imageCount,.videoCount{background-color:#fff;opacity:.8;border:0 solid #000;color:#000;font-size:xx-small;line-height:11px;padding:2px;position:absolute;cursor:pointer}
.videoCount{right:1px}
.commentDisplay{padding-bottom: 10px;margin-bottom:20px;box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}
.replyList{list-style:none;margin:5px 5px 20px 5px;padding-left: 0}
.menu-bar{text-align: right;}
.pre-display{overflow-x:auto;max-width:300px;}
@media screen and (min-width:600px){
	.commentDisplay{margin:10px;width:400px}
	.p-datascroller-list{display:inline-flex;flex-wrap: wrap;justify-content:center}
	.pre-display{max-width:400px;}
}